<a href="https://colab.research.google.com/github/badzlan/techfest-elims/blob/main/EDA_tipiel_IPB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Efektivitas Penyaluran Dana Transfer ke Daerah (TKDD): Studi Perbandingan Pagu dan Realisasi TKDD di Provinsi-Provinsi Indonesia Tahun 2023

### Info

#### Rumusan Masalah

1. Bagaimana tingkat perbandingan antara pagu dan realisas TKDD di setiap provinsi di Indonesia tahun 2023?

2. Provinsi mana yang memiliki tingkat realisasi tertinggi dan terendah?

3. Apa kemungkinan faktor-faktor yang mempengaruhi tinggi/rendahnya realisasi TKDD?

4. Apakah terdapat hubungan antara realisasi TKDD dan IPM suatu provinsi?

5. Apa saja faktor-faktor yang memengaruhi IPM di tiap provinsi Indonesia pada tahun 2023

#### Permintaan untuk peserta

1. Melakukan analisis perbandingan pagu TKDD dan realisasi TKDD

2. Menghitung persentase realisasi TKDD dari tiap provinsi dan mengklasifikasikannya menjadi 3 kategori:
  - Di bawah 90%
  - Berada di antara 90-100%
  - Di atas 100%

3. Menganalissi faktor-faktor yang dapat mempengaruhi realisasi TKDD

4. Analisis hubungan realisasi TKDD dengan IPM

5. Memberikan insight dan rekomendasi kebjijakan yang berdasarkan data

6. Tim wajib mencantumkan penjelasan terkait EDA yang dilakukan

#### Catatan

1. Tim peserta wajib mencantumkan penjelasan naratif (deskriptif) terhadap setiap langkah EDA yang dilakukan, baik berupa temuan statistik, pola, tren, maupun anomali, untuk mendukung pemahaman terhadap data dan relevansi dengan studi kasus.

2. Dataset yang disediakan belum sepenuhnya bersih. Setiap peserta diwajibkan melakukan tahap data preparation terlebih dahulu sesuai kebutuhan masing-masing.

3. Peserta diperbolehkan melakukan eksplorasi dan visualisasi data tambahan di luar instruksi yang diberikan. Visualisasi dapat dibuat dengan format dan jenis apapun, selama:
    * Relevan dengan studi kasus
    * Mendukung jawaban terhadap rumusan masalah
    * Menghasilkan insight yang bermakna dan dapat ditindaklanjuti

#### Penjelasan Kolom

1. Provinsi: Nama wilayah administratif di Indonesia

2. IPM: Indeks Pembangunan Manusia
    - Angka untuk ngukur kualitas hidup penduduk.
    - Gabungan dari pendidikan, kesehatan, dan pendapatan.
    - Makin tinggi, makin bagus kualitas hidup di daerah itu.

3. Pagu TKDD
    - TKDD = Transfer ke Daerah dan Dana Desa, bagian dari APBN (Anggaran Pendapatan dan Belanja Negara)
    - Total dana transfer dari pusat ke daerah (sebelum dipakai)
    - Ini adalah anggaran yang dikasih dari pusat ke provinsi

4. Realisasi TKDD
    - Seberapa banyak dana TKDD ini yang bener-bener udah dipakai
    - Kalau angkanya lebih kecil dibandingkan dengan pagu, maka artinya belum dimanfaatkan secara maksimal

5. Jumlah Penduduk

6. Anggaran APBN per Kapita
    - Total dana dari pemerintah pusat dibagi per orang
    - Buat tau berapa jatah rata-rata tiap orang dari anggaran nasional

7. Persentase Penduduk Miskin
    - Persentase orang yang hidup di bawah garis kemiskinan
    - Miskin di sini dihitung berdasarkan pengeluaran orang tersebut
    - Ketika pengeluaran < batas bawah garis kemiskinan provinsi tersebut = dikategorikan miskin

8. PRDB Atas Dasar Harga Berlaku
    - PRDB = Produk Domestik Regional Bruto
    - ADHB = Atas Dasar Harga Berlaku
    - Total nilai barang & jasa yang dihasilkan provinsi, dihitung pakai harga saat itu (tanpa koreksi inflasi).
    - Ibaratnya: seberapa “kaya” aktivitas ekonomi daerah itu saat ini.

9. PRDB per Kapita HB
    - PDRB dibagi jumlah penduduk → buat lihat rata-rata kontribusi ekonomi per orang.
    - Makin tinggi, artinya rata-rata orang di daerah itu punya “aktivitas ekonomi” yang tinggi.

10. Laju Pertumbuhan PDRB atas dasar konstan 2010
    - Seberapa cepat ekonomi daerah tumbuh dibanding tahun sebelumnya.
    - Pakai harga konstan 2010 (jadi gak dipengaruhi inflasi).
    - Makin tinggi persen pertumbuhannya, berarti ekonomi makin cepat berkembang.

## 1. Data Preparation

### 1.1 Import library and Data

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re

In [2]:
# Baca data dari GitHub
url = "https://raw.githubusercontent.com/badzlan/techfest-elims/refs/heads/main/dataset.csv"
df = pd.read_csv(url)

# Tampilkan 5 data pertama
df.head()

,Provinsi,IPM,Pagu TKDD,Realisasi TKDD,Jumlah Penduduk,Anggaran APBN per kapita,Persentase Penduduk Miskin,Produk Domestik Regional Bruto (PDRB) Atas Dasar Harga Berlaku,Produk Domestik Regional Bruto per Kapita HB,Laju Pertumbuhan PDRB atas dasar konstan 2010
0,ACEH,"74,7","Rp 30.821.480.000.000,00","Rp 31.074.560.000.000,00",5.409.200,"5.744.760,78","14,45","227018,2",41.408.000,"4,23"
1,BALI,"78,01","Rp 11.152.110.000.000,00","Rp 11.064.980.000.000,00",4.374.300,"2.529.543,01","4,25","274358,18",62.294.000,"5,71"
2,BANTEN,"75,77","Rp 17.453.380.000.000,00","Rp 17.467.380.000.000,00",12.167.000,"1.435.635,74","6,17","814122,03",66.147.000,"4,81"
3,BENGKULU,"74,3","Rp 10.570.080.000.000,00","Rp 10.559.790.000.000,00",2.059.400,"5.127.605,13","14,04","96583,09",46.300.000,"4,28"
4,DI YOGYAKARTA,"81,09","Rp 10.355.870.000.000,00","Rp 10.241.290.000.000,00",3.712.600,"2.758.522,33","11,04","180696,04",48.360.000,"5,07"

### 1.2 Cek Missing Values & Duplikasi

In [3]:
# Cek missing values
print("Jumlah missing value per kolom:")
print(df.isnull().sum())

# Cek duplikasi
print("\nJumlah baris duplikat:", df.duplicated().sum())

Jumlah missing value per kolom:
Provinsi                                                          0
IPM                                                               4
Pagu TKDD                                                         0
Realisasi TKDD                                                    0
Jumlah Penduduk                                                   2
Anggaran APBN per kapita                                          0
Persentase Penduduk Miskin                                        4
Produk Domestik Regional Bruto (PDRB) Atas Dasar Harga Berlaku    0
Produk Domestik Regional Bruto per Kapita HB                      0
Laju Pertumbuhan PDRB atas dasar konstan 2010                     0
dtype: int64

Jumlah baris duplikat: 0

### 1.3 Renaming Columns

In [4]:
# Rename kolom-kolom
df.rename(columns={
    'Provinsi': 'provinsi',
    'IPM': 'ipm',
    'Pagu TKDD': 'pagu_tkdd',
    'Realisasi TKDD': 'realisasi_tkdd',
    'Jumlah Penduduk': 'jumlah_penduduk',
    'Anggaran APBN per kapita': 'apbn_per_kapita',
    'Persentase Penduduk Miskin': 'persentase_penduduk_miskin',
    'Produk Domestik Regional Bruto (PDRB) Atas Dasar Harga Berlaku': 'pdrb_adhb',
    'Produk Domestik Regional Bruto per Kapita HB': 'pdrb_per_kapita_hb',
    'Laju Pertumbuhan PDRB atas dasar konstan 2010': 'laju_pdrb_konstan_2010'
}, inplace=True)

df.columns

Index(['provinsi', 'ipm', 'pagu_tkdd', 'realisasi_tkdd', 'jumlah_penduduk',
       'apbn_per_kapita', 'persentase_penduduk_miskin', 'pdrb_adhb',
       'pdrb_per_kapita_hb', 'laju_pdrb_konstan_2010'],
      dtype='object')

### 1.4 Cek & Pastikan Tipe Data Numerik

In [5]:
# Cek tipe data
print("\nTipe data setiap kolom:")
print(df.dtypes)

replacement_rules = {
    r'Rp ': '',
    r'\.': '',
    r',': '.'
}

clear_cols = ['ipm',
              'pagu_tkdd',
              'realisasi_tkdd',
              'jumlah_penduduk',
              'apbn_per_kapita',
              'persentase_penduduk_miskin',
              'pdrb_adhb',
              'pdrb_per_kapita_hb',
              'laju_pdrb_konstan_2010'
]

def apply_replacements(text, rules):
    # Convert non-string values to string, handling NaN
    if not isinstance(text, str):
        return str(text)
    for pattern, replacement in rules.items():
        text = re.sub(pattern, replacement, text)
    return text

for col in clear_cols:
  df[col] = df[col].apply(lambda x: apply_replacements(x, replacement_rules))
  df[col] = pd.to_numeric(df[col], errors='coerce')

print("\nTipe data setelah konversi:")
print(df.dtypes)

Tipe data setiap kolom:
provinsi                      object
ipm                           object
pagu_tkdd                     object
realisasi_tkdd                object
jumlah_penduduk               object
apbn_per_kapita               object
persentase_penduduk_miskin    object
pdrb_adhb                     object
pdrb_per_kapita_hb            object
laju_pdrb_konstan_2010        object
dtype: object

Tipe data setelah konversi:
provinsi                       object
ipm                           float64
pagu_tkdd                     float64
realisasi_tkdd                float64
jumlah_penduduk               float64
apbn_per_kapita               float64
persentase_penduduk_miskin    float64
pdrb_adhb                     float64
pdrb_per_kapita_hb              int64
laju_pdrb_konstan_2010        float64
dtype: object

### 1.5 Tambahkan Kolom Rasio Realisasi TKDD

In [31]:
df['rasio_realisasi'] = (df['realisasi_tkdd'] / df['pagu_tkdd']) * 100

### 1.6 Klasifikasikan Rasio ke dalam 3 Kategori

In [32]:
def klasifikasi_realisasi(rasio):
    if rasio < 90:
        return '< 90'
    elif 90 <= rasio <= 100:
        return '90-100'
    elif rasio > 100:
        return '>100'
    else :
        return 'Unknown'

df['kategori_realisasi_%'] = df['rasio_realisasi'].apply(klasifikasi_realisasi)

### 1.7 Handle Missing Values

In [11]:
# --- 2. List provinsi di Sulawesi ---
sulawesi_provinces = [
    "SULAWESI UTARA", "SULAWESI TENGAH", "SULAWESI SELATAN",
    "SULAWESI TENGGARA", "SULAWESI BARAT", "GORONTALO"
]

# --- 3. Kolom yang akan diimputasi ---
target_columns = [
    'pagu_tkdd', 'realisasi_tkdd', 'apbn_per_kapita',
]

# --- 4. Imputasi hanya untuk provinsi Sulawesi ---
for col in target_columns:
    mean_val = df[df['provinsi'].isin(sulawesi_provinces)][col].mean()
    df.loc[df['provinsi'] == 'SULAWESI UTARA', col] = mean_val

In [28]:
# ipm papua = median nasional
# jumlah penduduk dan apbn = mean regional
# persentase penduduk miskin = mean regional

papua_regional = ['PAPUA BARAT DAYA', 'PAPUA PEGUNUNGAN', 'PAPUA SELATAN', 'PAPUA TENGAH', 'PAPUA', 'PAPUA BARAT']

# handle ipm
papua_ipm = ['PAPUA BARAT DAYA', 'PAPUA PEGUNUNGAN', 'PAPUA SELATAN', 'PAPUA TENGAH']

for prov in papua_ipm :
  df.loc[df['provinsi'] == prov, 'ipm'] = df['ipm'].median()

# handle apbn, jumlah penduduk, persen penduduk miskin
papua_penduduk_apbn = ['PAPUA PEGUNUNGAN', 'PAPUA SELATAN']
col_papua_penduduk_apbn = ['jumlah_penduduk', 'apbn_per_kapita']

for prov in papua_penduduk_apbn :
  for col in col_papua_penduduk_apbn :
    df.loc[df['provinsi'] == prov, col] = df[df['provinsi'].isin(papua_regional)][col].mean()

# handle persentase penduduk miskin
papua_persentase_miskin = ['PAPUA BARAT DAYA', 'PAPUA PEGUNUNGAN', 'PAPUA SELATAN', 'PAPUA TENGAH']

for prov in papua_persentase_miskin :
  df.loc[df['provinsi'] == prov, 'persentase_penduduk_miskin'] = df[df['provinsi'].isin(papua_regional)]['persentase_penduduk_miskin'].mean()

In [36]:
df

,provinsi,ipm,pagu_tkdd,realisasi_tkdd,jumlah_penduduk,apbn_per_kapita,persentase_penduduk_miskin,pdrb_adhb,pdrb_per_kapita_hb,laju_pdrb_konstan_2010,pagu_tkdd_per_kapita,realisasi_tkdd_per_kapita,rasio_realisasi,kategori_realisasi_%
0,ACEH,74.70,3.082148e+13,3.107456e+13,5.409200e+06,5.744761e+06,14.45,227018.20,41408000,4.23,5.697974e+06,5.744761e+06,100.821116,>100
1,BALI,78.01,1.115211e+13,1.106498e+13,4.374300e+06,2.529543e+06,4.25,274358.18,62294000,5.71,2.549462e+06,2.529543e+06,99.218713,90-100
2,BANTEN,75.77,1.745338e+13,1.746738e+13,1.216700e+07,1.435636e+06,6.17,814122.03,66147000,4.81,1.434485e+06,1.435636e+06,100.080214,>100
3,BENGKULU,74.30,1.057008e+13,1.055979e+13,2.059400e+06,5.127605e+06,14.04,96583.09,46300000,4.28,5.132602e+06,5.127605e+06,99.902650,90-100
4,DI YOGYAKARTA,81.09,1.035587e+13,1.024129e+13,3.712600e+06,2.758522e+06,11.04,180696.04,48360000,5.07,2.789385e+06,2.758522e+06,98.893574,90-100
5,DKI JAKARTA,83.55,2.469499e+13,2.508018e+13,1.064000e+07,2.357160e+06,4.44,3443026.23,322619000,4.96,2.320958e+06,2.357160e+06,101.559790,>100
6,GORONTALO,71.25,6.172420e+12,6.155410e+12,1.198400e+06,5.136357e+06,15.15,51366.74,42341000,4.50,5.150551e+06,5.136357e+06,99.724419,90-100
7,JAMBI,73.73,1.523207e+13,1.535267e+13,3.633200e+06,4.225661e+06,7.58,293780.01,79850000,4.67,4.192467e+06,4.225661e+06,100.791751,>100
8,JAWA BARAT,74.24,7.132176e+13,7.103169e+13,4.930680e+07,1.440606e+06,7.62,2625225.72,52652000,5.00,1.446489e+06,1.440606e+06,99.593294,90-100
9,JAWA TENGAH,73.39,6.712969e+13,6.677206e+13,3.718040e+08,1.795894e+05,10.77,1695621.57,45167000,4.97,1.805513e+05,1.795894e+05,99.467255,90-100
10,JAWA TIMUR,74.65,8.200830e+13,8.192189e+13,4.123000e+07,1.986949e+06,10.35,2953546.98,71122000,4.95,1.989044e+06,1.986949e+06,99.894633,90-100
11,KALIMANTAN BARAT,70.47,2.079747e+13,2.109132e+13,5.549700e+07,3.800443e+05,6.71,274468.58,48809000,4.46,3.747494e+05,3.800443e+05,101.412912,>100
12,KALIMANTAN SELATAN,74.66,3.163078e+13,3.498028e+13,4.170200e+07,8.388154e+05,4.29,269192.02,63754000,4.84,7.584955e+05,8.388154e+05,110.589369,>100
13,KALIMANTAN TENGAH,73.73,2.769023e+13,2.886221e+13,2.737200e+06,1.054443e+07,5.11,208783.35,75271000,4.14,1.011626e+07,1.054443e+07,104.232468,>100
14,KALIMANTAN TIMUR,78.20,5.164347e+13,5.731468e+13,3.856800e+06,1.486068e+07,6.11,843571.25,215761000,6.22,1.339024e+07,1.486068e+07,110.981466,>100
15,KALIMANTAN UTARA,72.88,1.099441e+13,1.159327e+13,7.201000e+05,1.609953e+07,6.45,147278.62,201749000,4.94,1.526789e+07,1.609953e+07,105.446950,>100
16,KEP. BANGKA BELITUNG,74.09,7.497480e+12,7.454150e+12,1.492000e+06,4.996079e+06,4.52,102526.77,67813000,4.38,5.025121e+06,4.996079e+06,99.422072,90-100
17,KEP. RIAU,79.08,9.246690e+12,1.015074e+13,2.121500e+06,4.784700e+06,5.69,331644.52,154065000,5.16,4.358562e+06,4.784700e+06,109.777012,>100
18,LAMPUNG,72.48,2.150812e+13,2.152800e+13,4.496600e+06,4.787617e+06,11.11,448850.64,48191000,4.55,4.783196e+06,4.787617e+06,100.092430,>100
19,MALUKU,72.75,1.213282e+13,1.204938e+13,1.895100e+06,6.358176e+06,16.42,58487.79,30455000,5.21,6.402206e+06,6.358176e+06,99.312279,90-100
20,MALUKU UTARA,70.98,1.420022e+13,1.430205e+13,1.318500e+06,1.084721e+07,6.46,85143.13,63675000,20.49,1.076998e+07,1.084721e+07,100.717102,>100
21,NUSA TENGGARA BARAT,72.37,1.742235e+13,1.738705e+13,5.474000e+06,3.176297e+06,13.85,166395.45,29926000,1.80,3.182746e+06,3.176297e+06,99.797387,90-100
22,NUSA TENGGARA TIMUR,68.40,2.426085e+13,2.412650e+13,5.481800e+06,4.401200e+06,19.96,128522.85,23078000,3.47,4.425709e+06,4.401200e+06,99.446227,90-100
23,PAPUA,63.01,1.221171e+13,1.151835e+13,4.429700e+06,2.600255e+06,26.03,81731.73,78055000,4.22,2.756780e+06,2.600255e+06,94.322171,90-100
24,PAPUA BARAT,67.47,1.401324e+13,1.439637e+13,1.168400e+06,1.232144e+07,20.49,61576.37,108110000,5.18,1.199353e+07,1.232144e+07,102.734057,>100
25,PAPUA BARAT DAYA,73.91,1.016348e+13,1.013204e+13,6.113520e+06,1.657317e+06,23.26,36104.57,58450000,1.82,1.662460e+06,1.657317e+06,99.690657,90-100
26,PAPUA PEGUNUNGAN,73.91,1.354314e+13,1.282176e+13,3.265820e+06,6.908259e+06,23.26,24433.99,16870000,4.78,4.146934e+06,3.926046e+06,94.673466,90-100
27,PAPUA SELATAN,73.91,8.094830e+12,7.658020e+12,3.265820e+06,6.908259e+06,23.26,31357.75,58677000,4.23,2.478652e+06,2.344900e+06,94.603840,90-100
28,PAPUA TENGAH,73.91,1.439523e+13,1.494127e+13,1.351659e+06,1.105402e+07,23.26,150377.18,103508000,5.95,1.065005e+07,1.105402e+07,103.793201,>100
29,RIAU,74.95,2.447168e+13,2.552220e+13,6.555800e+06,3.893072e+06,6.68,1026472.05,154522000,4.21,3.732829e+06,3.893072e+06,104.292799,>100
30,SULAWESI BARAT,69.80,6.921800e+12,6.877950e+12,1.458900e+06,4.714477e+06,11.49,58572.05,39547000,5.23,4.744534e+06,4.714477e+06,99.366494,90-100
31,SULAWESI SELATAN,74.60,3.031335e+13,3.021665e+13,9.260100e+06,3.263102e+06,8.70,652648.09,69710000,4.51,3.273545e+06,3.263102e+06,99.680999,90-100
32,SULAWESI TENGAH,71.66,1.974932e+13,1.994741e+13,3.051200e+06,6.537562e+06,12.41,347139.01,112461000,11.91,6.472640e+06,6.537562e+06,101.003022,>100
33,SULAWESI TENGGARA,72.94,2.046079e+13,2.084041e+13,2.704600e+06,7.705542e+06,11.43,176179.90,64088000,5.35,7.565182e+06,7.705542e+06,101.855354,>100
34,SULAWESI UTARA,75.04,1.672354e+13,1.680757e+13,2.660800e+06,5.471408e+06,7.38,171969.42,64131000,5.48,6.285153e+06,6.316734e+06,100.502466,>100
35,SUMATERA BARAT,75.64,2.042998e+13,2.026070e+13,5.677600e+06,3.568532e+06,5.95,312769.38,54327000,4.62,3.598348e+06,3.568532e+06,99.171414,90-100
36,SUMATERA SELATAN,73.18,3.386521e+13,3.543317e+13,8.647300e+06,4.097599e+06,11.78,629168.67,71958000,5.08,3.916276e+06,4.097599e+06,104.630002,>100
37,SUMATERA UTARA,75.13,4.272587e+13,4.273261e+13,1.518050e+07,2.814967e+06,8.15,1050995.41,68306000,5.01,2.814523e+06,2.814967e+06,100.015775,>100